* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Proxima Nova', sans-serif;

  background: #f9f9f9;
}

.no-scroll {
  overflow: auto;
}

.no-scroll::-webkit-scrollbar {
  width: 0 !important;
}

.cell-actions {
  opacity: 0;
}

.highlighted {
  background: rgba(219, 118, 0, 1);
}

.truncated-text {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}
