* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Proxima Nova', sans-serif;

  background: #f9f9f9;
}

.no-scroll {
  overflow: auto;
}

.no-scroll::-webkit-scrollbar {
  width: 0 !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cell-actions {
  opacity: 0;
}